.text-medium {
    font-size: 1.0rem;
}

.chip-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem; /* space between chips; adjust as you like */
}

/* Make all category tables share the same column widths */
:host ::ng-deep .category-table table {
    table-layout: fixed;
    width: 100%;
}

/* 1st column: Type */
:host ::ng-deep .category-table .p-datatable-thead > tr > th:nth-child(1),
:host ::ng-deep .category-table .p-datatable-tbody > tr > td:nth-child(1) {
    width: 20%;
}

/* 2nd column: Field */
:host ::ng-deep .category-table .p-datatable-thead > tr > th:nth-child(2),
:host ::ng-deep .category-table .p-datatable-tbody > tr > td:nth-child(2) {
    width: 20%;
}

/* 3rd column: Values */
:host ::ng-deep .category-table .p-datatable-thead > tr > th:nth-child(3),
:host ::ng-deep .category-table .p-datatable-tbody > tr > td:nth-child(3) {
    width: 60%;
}

.p-accordionheader {
    padding: 0.25rem !important;
}

.header-custom {
    padding: 0.25rem 0.5rem !important;
}

.row-custom {
    padding: 0.25rem 0.5rem !important;
}

.p-fieldset-legend {
    padding: 0.25rem 0.5rem !important;
    font-size: 2rem !important;
}

.category-color-box {
    display: inline-block;
    width: 32px;
    height: 16px;
    border-radius: 2px;
    margin-left: 6px;
    vertical-align: middle;
    border: 1px solid rgba(0, 0, 0, 0.2); /* optional for contrast */
}

.category-legend {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 0.5rem;
}

.category-legend-name {
    font-weight: 500;
}

.category-color-box {
    display: inline-block;
    width: 32px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

/* pushes the button to the far right */
.category-legend-spacer {
    flex: 1 1 auto;
}

.category-legend-edit-button {
    margin-left: 0.5rem;
}


