.tcs-cell-right {
    text-align: right;
}

.tcs-cell-center {
    text-align: center;
}

.drag-handle {
    cursor: move;
}

/*.cell-spacing {*/
/*    padding: 0.5rem 1rem;*/
/*}*/

:host ::ng-deep .p-datatable .p-datatable-tbody > tr > td {
    padding: 0.1rem 1rem;
}

.ignored-row {
    background-color: #d7d7dc; /* light gray */
    color: #a5a8ac;            /* muted text */
}
