<div>
    <div class="bg-surface-0 p-6 rounded-2xl flex flex-col gap-6">
        <div class="border border-surface rounded-2xl p-6 min-h-80 light:bg-surface-950">
            configuration list
        </div>
        <div class="border border-surface rounded-2xl p-6 light:bg-surface-950">
            add new configuration
        </div>
        <div class="border border-surface rounded-2xl p-6 light:bg-surface-950 flex gap-6">
            <div class="border border-surface rounded-2xl flex-1 p-6 w-full flex flex-col justify-center items-center">
                <p-button pButton class="flex-1 py-2! px-3! font-medium! rounded-md!" severity="secondary" (onClick)="downloadConfiguration()">
                    <span pButtonLabel>Download category configuration</span>
                </p-button>
            </div>
            <div class="border border-surface rounded-2xl flex-1 p-6">upload configuration</div>
        </div>
    </div>
</div>
